.footer {
  background: #F1F2F6;
  font-family: 'SF Pro Display';
  padding: 33px 10px;

  .content {
    margin: 0 auto;
    max-width: 1170px;
  }

  &__ad-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    letter-spacing: 0.015em;
    color: #6B7688;
    text-align: justify;
  }

  &__links-section {
    gap: 10px;
  }

  .footer-links {
    flex-wrap: wrap;
  }

  &__social-media-links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: end;

    .media-link {
      padding: 14px;
      display: block;
      width: 56px;
      height: 56px;
      border-radius: 28px;
      border: 1px solid #EAECF2;
      background: white;

      &:hover {
        border: 1px solid white;
        box-shadow: 0px 10px 8px -4px #00000014;

        .v-icon {
          path {
            fill: #03A9F4;
          }
        }
      }
    }
  }

  &__tec-info-btn {
    border-radius: 13px;
    padding: 14px 24px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    letter-spacing: 0.015em;
    text-align: center;
    color: #6B7688;
    transition: all .4s;
    text-decoration: none;

    &:hover {
      background: #FFFFFF;
      color: #257CFF;
    }
  }
}

@media screen and (max-width: 768px){
  .footer {
    padding: 30px 15px;

    .footer-tec-links {
      gap: 8px;
      flex-wrap: wrap;
      justify-content: center !important;
    }

    &__tec-info-btn {
      font-size: 15px;
      padding: 5px 8px;
      border-radius: 8px;
    }

    &__links-section {
      flex-direction: column;

      img {
        margin: 0 auto 30px auto;
      }

      .footer-links {
        width: 100%;
        justify-content: center !important;
        align-items: center;
        gap: 10px;

        .footer__social-media-links {
          flex-wrap: wrap;
          justify-content: center;

          .media-link {
            width: 50px;
            height: 50px;
            padding: 11.3px;
          }
        }
      }
    }

    &__ad-info {
      margin-bottom: 7px;
    }
  }
}