.header {
  padding: 56px 20px 39px 20px;
  background: transparent;
  font-family: 'SF Pro Display';
  z-index: 99;
  position: relative;

  .mobile-nav-button {
    display: none;
  }

  .header-elements {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    letter-spacing: 0.015em;
    text-decoration: none;
    color: #6B7688;
    padding: 13.5px 25px;
    border-radius: 8px;
    justify-content: center;
    margin: 0 6px;

    &.home-link {
      color: white;
      transition: all .2s;

      &:hover {
        background: white;
        color: #257CFF;
        border: none;
        text-shadow: none;
      }
    }

    &:not(.home-link) {
      width: 169px;
    }
  }

  &__button {
    border-radius: 24px;
    background: white;
    padding: 12px 25px;
    color: #257CFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    letter-spacing: 1.2px;
    gap: 10px;
    text-decoration: none;

    i {
      font-size: 20px;
      height: 24px;
    }
  }

  .router-link-exact-active {
    width: 169px;
    height: 48px;
    border-radius: 13px;
    background: #F1F2F6;
    color: #257CFF;
    justify-content: center;

    .v-icon {
      path {
        fill: #257CFF;
      }
    }
  }
}

.header__login-button {
  border-radius: 13px;
  background: #257CFF;
  padding: 13.5px 25px;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  letter-spacing: 1.2px;
  gap: 10px;
  text-decoration: none;

  i {
    font-size: 20px;
    height: 21px;
  }
}

.profile-btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  text-align: left;
  color: black;
  background-color: transparent !important;

  &.router-link-active {
    .profile-img {
      border: 4px solid #257CFF;
    }
  }


  .profile-img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 4px solid #F2F3F5;
    margin-right: 8px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 30px 10px 35px 10px;

    .header-elements {
      align-items: start !important;

      .homepage-header-links, .right-side-button {
        display: none !important;
      }

      .mobile-nav-button {
        display: flex;
        flex-direction: column;

        i {
          font-size: 28px;
          margin-right: 10px;
          color: white;
          height: 28px;

          &.one-line {
            height: 14px;
          }
        }

        &.blue-colored {
          i {
            color: #257CFF;
          }
        }
      }
    }
  }

  .mobile-header-modal {
    background-color: #1A6AE1A6 !important;

    &.fade-custom {
      .modal-dialog {
        max-width: 380px;
        transition: all .50s linear !important;
        transform: scale(0) !important;
        margin-left: auto;
        margin-right: auto;

        .modal-content {
          border-radius: 13px;
          padding-bottom: 35px;
          padding-top: 15px;
          box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, .2);

          .modal-header {
            padding-right: 35px !important;
            padding-top: 16px !important;


            .btn-close {
              opacity: 1;
              filter: invert(35%) sepia(100%) saturate(2196%) hue-rotate(206deg) brightness(102%) contrast(102%);
            }
          }
        }

        .modal-body {
          margin-top: 50px;

          .home-link, .header__link {
            color: #257CFF;
            text-align: center;
            font-weight: 400;
            letter-spacing: unset;
            line-height: 20px;
            background-color: transparent;
            border: none;

            button {
              background-color: transparent;
              color: #257CFF;
            }

            svg {
              path {
                fill: #257CFF;
              }
            }
          }

          .header__button {
            margin-top: 10px;
            .button-img {
              width: 30px;
              margin-right: 6px;
            }

            button {
              border: 2px solid #257CFF !important;
              border-radius: 25px;
              background-color: transparent;
              padding: 6px 20px;
              font-weight: 600;
              color: #257CFF;
              letter-spacing: -0.5px;
            }
          }

          .header__login-button, .profile-btn {
            margin-top: 10px;
            border: 2px solid #257CFF !important;
            border-radius: 25px;
            background-color: transparent;
            padding: 6px 20px;
            font-weight: 600;
            color: #257CFF;
            letter-spacing: -0.5px;
          }

          .profile-btn {
            padding: 4px 20px;

            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }

      &.show {
        .modal-dialog {
          transform: scale(1) !important;
        }
      }
    }
  }

}