.homepage {
  padding-bottom: 80px;
  font-family: SF Pro Display, sans-serif;

  &__main-img {
    width: 100%;
    min-height: 680px;
    object-fit: cover;
  }

  .main-part-info {
    left: 0;
    right: 0;
    top: 225px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: 0.06em;
      text-align: center;
      color: white;
    }

    &__description {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.035em;
      text-align: center;
      color: white;
    }

    .play-section {

      &__text {
        font-size: 14px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.015em;
        text-align: center;
        color: #FFFFFF;
        margin-top: 16px;
      }

      &__icon {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        box-shadow: 0px 16px 16px 0px #257CFF14;
        background: white;
        padding: 27px 29px;

        i {
          font-size: 22px;
          color: #257CFF;
        }
      }
    }
  }

  .main-info {
    max-width: 1170px;
    margin: 80px auto 0 auto;

    &__header {
      max-width: 770px;
      left: 0;
      right: 0;
      margin: 0 auto 44px auto;

      .description {
        font-size: 18px;
      }
    }

    .advantages-section {
      gap: 30px;
      justify-content: space-between;
      margin-bottom: 80px;

      &__block {
        width: 270px;
        padding: 36px 24px 30px 24px;
        background: linear-gradient(180deg, rgba(241, 242, 246, 0) 0%, #F1F2F6 100%);
        border-radius: 24px;

        i {
          font-size: 49px;
          height: 49px;
          color: #435167;
          margin-bottom: 23px;
        }

        .block-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 20.8px;
          letter-spacing: 0.015em;
          text-align: center;
          color: #858F9F;
        }
      }
    }

    &__sub-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      max-width: 1170px;

      .info {
        max-width: 770px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .image {
        width: 570px;
        height: 340px;
        object-fit: cover;
        border-radius: 24px;
        border: 2px solid #257CFF
      }
    }

    &__finance-block {
      margin: 102px auto 0 auto;
      max-width: 1170px;
      height: 300px;
      background-image: url("/src/assets/images/finance-background.png");
      background-position: top;
      background-repeat: no-repeat;
      border-radius: 24px;

      .money-images, .money-bottom-images {
        display: none;
      }

      .block-info {
        max-width: 770px;
        margin-top: 70px;
      }
    }

    &__logic-chain-section {
      max-width: 1170px;
      padding: 0 30px;
      margin: 0 auto 113px auto;

      img {
        width: 470px;
      }

      .iphone-ing {
        width: 640px;
      }

      .how-it-works-img {
        margin-left: 62px;
        margin-right: 92px;
      }

      .problem-img {
        margin-right: 130px;
      }
    }
  }

  .community-section {
    margin: 160px 0;
    padding: 80px 20px;
    background: #F1F2F6;

    .community-list {
      max-width: 1170px !important;
      gap: 8px
    }

    .community-block {
      box-shadow: 0px -16px 20px -16px #00000014;
      width: 270px;
      background: linear-gradient(180deg, #FFFFFF 17.71%, rgba(255, 255, 255, 0) 100%);
      border-radius: 24px;
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .social-media-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 23.87px;
        letter-spacing: 0.015em;
        margin-top: 16px;
        margin-bottom: 27px;
      }

      .follow-link-btn {
        cursor: pointer;
        text-decoration: none;
        box-shadow: 0px 6px 10px -8px #00000029;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11.5px 0;
        width: 170px;
        gap: 8px;
        border-radius: 24px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.71px;
        letter-spacing: 0.015em;
        color: black;
        transition: all .5s;

        i {
          font-size: 16px;
          height: 17px;
        }

        &:hover {
          color: white;
          background-color: #257CFF;
        }
      }
    }
  }

  .team-section {
    max-width: 1170px;
    margin: 0 auto 160px auto;

    .team-member-info {
      background: linear-gradient(135deg, rgba(241, 242, 246, 0) 0%, #F1F2F6 100%);
      width: 370px;
      padding: 32px;
      border-radius: 24px;

      .description {
        margin-top: 24px;
        line-height: 27.2px;
        text-align: left;
      }

      .job-title {
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 16.71px;
        letter-spacing: 0.015em;
        color: #858F9F;
      }

      .member-name {
        font-size: 16px;
        font-weight: 700;
        line-height: 19.09px;
        letter-spacing: 0.015em;
      }

      img {
        width: 65px;
        border-radius: 50%;
      }
    }
  }

  .view-whitepaper {
    max-width: 1170px;
    margin: 80px auto;
    background-color: #257CFF;
    height: 170px;
    border-radius: 24px;

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.06;
      background-image: url('/src/assets/images/dots.png');
      background-repeat: no-repeat;
      background-position: 50% 40%;
      background-size: cover;

    }

    .section {
      height: 100%;

      .text {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.015em;
        text-align: center;
        color: white;
      }
    }

    .plane-icon {
      left: 59px;
      bottom: 23px;
      width: 55px;
      height: 50px;
    }

    .lightning-icon {
      top: -30px;
      right: 85px;
      width: 75px;
      height: 78px;
    }

    .show-whitepaper-btn {
      z-index: 99;
      text-decoration: none;
      background: #FFFFFF;
      width: 230px;
      padding: 13px 0;
      border-radius: 24px;
      color: #257CFF;
      border: none;
      font-size: 16px;
      font-weight: 600;
      line-height: 19.09px;
      letter-spacing: 0.015em;
      display: flex;
      align-items: center;
      justify-content: center;

      .fi-rr-document {
        font-size: 22px;
        height: 22px;
        margin-right: 10px;
      }

      .fi-sr-angle-small-right {
        font-size: 18px;
        margin-left: 16px;
        height: 19px;
      }
    }
  }

  .properties {
    max-width: 1170px;
    margin: 92px auto 0 auto;

    .properties-list {
      gap: 15px;
    }
  }

  .show-all-properties-btn {
    width: 270px;
    padding: 18.5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background: #EEF5FF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    letter-spacing: 0.015em;
    text-decoration: none;
    margin-top: 48px;
    gap: 4px;
    color: #257CFF;

    i {
      font-size: 17px;
      height: 17px;
    }
  }

  .faq-section {
    max-width: 1170px;
    margin: 0 auto;

    .faq-accordion-section {

      .faq-accordion {
        gap: 30px;
      }

      .accordion-item {
        border: none;
        margin-bottom: 30px;
        background: linear-gradient(108.04deg, rgba(241, 242, 246, 0) 0%, #F1F2F6 79.78%);
        border-radius: 16px;


        .accordion-button {
          border-radius: 16px;
          background: #F1F2F6;
          padding: 24px;

          .accordion-icon {
            font-size: 24px;
            height: 26px;
            color: #6B7688;
          }

          .faq-question {
            font-size: 16px;
            font-weight: 700;
            line-height: 19.09px;
            letter-spacing: 0.015em;
            text-align: left;
            color: #858F9F;
          }

          &:not(.collapsed) {
            background-color: transparent;
            box-shadow: none;

            .accordion-icon {
              color: #257CFF;
            }

            .faq-question {
              display: none;
            }
          }
        }

        .accordion-body {
          padding: 24px;

          .title {
            text-align: left;
            font-size: 20px;
            line-height: 23.87px;
          }

          .description {
            font-weight: 500;
            line-height: 27.2px;
            text-align: left;
            color: #6B7688;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {

  .homepage {
    padding-bottom: 45px;

    .video-section {
      margin-top: -116px !important;

      .main-part-info {
        top: 155px;

        &__title {
          font-size: 30px;
        }

        &__description {
          font-size: 16px;
          line-height: 30px;
        }
      }
    }

    .main-info {
      margin-top: 60px;
      padding: 0 30px;

      .title {
        margin-bottom: 16px !important;
      }

      &__header {
        .description {
          font-size: 15px !important;
        }
      }

      .advantages-section {
        flex-direction: column;
        gap: 20px !important;

        &__block {
          width: 100% !important;
          background-image: linear-gradient(180deg, #f8f8f8 25%, #8F98A72B 58%) !important;
        }
      }

      &__logic-chain-section {
        padding: 0 30px;
        margin-bottom: 20px !important;

        .chain-component {
          flex-direction: column;

          .title {
            text-align: center !important;
          }

          .description {
            font-size: 15px !important;
            text-align: center !important;
          }

          .hint {
            font-size: 15px;
            text-align: center !important;
          }

          &.solution-part {
            flex-direction: column-reverse;
          }
        }

        .problem-img, .how-it-works-img {
          margin-right: 0;
          margin-left: 0;
        }

        .iphone-ing, .problem-img, .how-it-works-img {
          width: 100%;
        }
      }

      &__finance-block {
        background: transparent;
        width: unset !important;
        padding: 0 30px;
        height: unset;
        margin-top: 70px !important;

        .block-info {
          margin-top: 0;

          .money-images {
            display: flex;
            margin-bottom: 20px;

            .card-img {
              width: 20%;
              height: 20%;
            }

            .money-img {
              width: 20%;
              height: 20%;
            }
          }

          .money-bottom-images {
            display: flex;

            .card-img {
              width: 20%;
              height: 20%;
            }

            .money-img {
              width: 10%;
              height: 20%;
              margin: -14px 16px 0 0;
            }
          }

          .title {
            margin-bottom: 20px !important;
          }

          .description {
            font-size: 15px;
            padding: 0 5px;
          }
        }
      }
    }

    .community-section {
      padding: 40px 0;
      margin-bottom: 80px;
      margin-top: 0;

      .title {
        margin-bottom: 27px !important;
      }

      .community-list {
        padding: 0 30px;
        flex-direction: column;
        gap: 20px;

        .community-block {
          padding: 20px 20px 35px;
          width: 100%;
          background-image: linear-gradient(180deg, #fff 50%, #E9E9E98F 100%);
          box-shadow: none;

          img {
            width: 54px;
          }

          .social-media-title {
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 20px;
          }

          .follow-link-btn {
            padding: 8.5px 0;
            width: 130px;
          }
        }
      }
    }

    .properties {
      padding: 0 10px;

      .title {
        margin-bottom: 20px !important;
      }

      .properties-list {
        flex-direction: column;
        gap: 25px;

        .property-item {
          width: 100%;

          .info-section {
            padding: 16px 20px;
          }

          .total-price {
            margin-bottom: 0;

            &__label {
              font-size: 16px;
            }

            &__value {
              font-size: 20px;
            }
          }

          .other-price {
            &__label {
              font-size: 14px;
            }

            &__value {
              font-size: 14px;
            }
          }

          .view-property-btn {
            padding: 8px;
          }
        }
      }

      .show-all-properties-btn {
        margin-top: 30px;
        padding: 10.5px 0;
        width: 220px;
      }
    }

    .team-section {
      padding: 0 30px;
      margin-bottom: 80px;

      .title {
        font-size: 32px;
      }

      .team-info-section {
        flex-direction: column;

        .team-member-info {
          padding: 20px;
          width: 100%;
          background-image: linear-gradient(180deg, #f9f9fc 0%, #f1f2f6 100%);

          img {
            width: 20vw;
          }

          .member-name {
            margin-bottom: 12px !important;
          }

          .job-title {
            font-size: 16px;
          }
        }
      }
    }

    .faq-accordion-section {
      padding: 0 10px;
      .faq-accordion {
        flex-direction: column;
        gap: 0 !important;

        .accordion-item {
          margin-bottom: 22px;
        }
      }
    }

    .view-whitepaper {
      height: 320px;
      margin: 80px 10px;

      &::after {
       background-size: auto;
      }

      .lightning-icon {
        width: 20%;
        height: auto;
        z-index: 99;
        top: -10%;
        right: 5%;
      }

      .plane-icon {
        width: 15%;
        height: auto;
        z-index: 99;
        left: 5%;
        bottom: 4%;
      }
    }
  }
}