@import "default/header";
@import "default/footer";
@import "fonts";
@import "homepage";
@import "properties";
@import "marketplace";
@import "profile";
@import "portfolio";
@import "default/login";

*:focus {
  outline: none;
}

.title {
  font-family: SF Pro Display;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.19px;
  letter-spacing: 0.04em;
  text-align: center;
}

.description {
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #858F9F;
}

.error {
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #F02C2C !important;
}

.hint {
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.015em;
  color: #6B7688;
}