@import "default/header";
@import "default/footer";
@import "fonts";
@import "homepage";
@import "properties";
@import "marketplace";
@import "profile";
@import "swap";
@import "portfolio";
@import "default/table";
@import "default/login";
@import "default/linear-graph";

*:focus {
  outline: none;
}

body {
  padding-right: 0 !important;
}

.modal {
  background: rgba(0, 0, 0, 0.5);

  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-backdrop {
  background-color: transparent;
}

.title {
  font-family: SF Pro Display, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.19px;
  letter-spacing: 0.04em;
  text-align: center;
}

.description {
  font-family: SF Pro Display, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #858F9F;
}

.error {
  font-family: SF Pro Display, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #F02C2C !important;
}

.hint {
  font-family: SF Pro Display, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.015em;
  color: #6B7688;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 25px;
    line-height: 30px;
  }

  .description {
    font-size: 15px;
    line-height: 27px;
  }
}