.marketplace {
  padding-bottom: 56px;
  max-width: 1170px;
  margin: 0 auto;
  font-family: SF Pro Display, sans-serif;

  &__header {
    margin: 0 auto;
    max-width: 600px;
  }

  .properties-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 27px;
    grid-row-gap: 27px;
  }
}

.property-view-toggler {
  margin: 0 auto;
  width: 370px;

  border-radius: 13px;
  border: 1px solid #EAECF2;
  padding: 8px;

  .toggler-btn {
    width: 100%;
    padding: 14.5px 0;
    border-radius: 13px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    letter-spacing: 0.015em;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #6B7688;
    transition: all .3s;

    i {
      font-size: 20px;
      height: 20px;
    }

    &.selected {
      background: #EEF5FF;
      color: #257CFF;
    }
  }
}

@media screen and (max-width: 1170px){
  .marketplace {
    .properties-list {
      grid-template-columns: repeat(2, 1fr) !important;
      padding: 0 10px;

      .property-item {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px){

  .marketplace {
    &__header {
      padding: 0 30px;
    }

    .properties-list {
      grid-template-columns: 1fr !important;
      padding: 0 10px;

      .property-item {
        width: 100%;

        .info-section {
          padding: 16px 20px;
        }

        .total-price {
          margin-bottom: 0;

          &__label {
            font-size: 16px;
          }

          &__value {
            font-size: 20px;
          }
        }

        .other-price {
          &__label {
            font-size: 14px;
          }

          &__value {
            font-size: 14px;
          }
        }

        .view-property-btn {
          padding: 8px;
        }
      }
    }
  }

  .toggler-component {
    padding: 0 30px;

    .property-view-toggler {
      gap: 5px;
      max-width: 370px;
      width: unset;

      .toggler-btn {
        padding: 9.5px 6px;
        letter-spacing: unset;
      }
    }
  }
}