.marketplace {
  padding-bottom: 56px;
  max-width: 1170px;
  margin: 0 auto;
  font-family: SF Pro Display;

  &__header {
    margin: 0 auto;
    max-width: 540px;
  }

  .properties-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 27px;
  }
}

.property-view-toggler {
  margin: 0 auto;
  width: 370px;

  border-radius: 13px;
  border: 1px solid #EAECF2;
  padding: 8px;

  .toggler-btn {
    width: 100%;
    padding: 14.5px 0;
    border-radius: 13px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    letter-spacing: 0.015em;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #6B7688;
    transition: all .3s;

    i {
      font-size: 20px;
      height: 20px;
    }

    &.selected {
      background: #EEF5FF;
      color: #257CFF;
    }
  }
}