.portfolio {
  padding-bottom: 56px;
  margin: 40px auto 0 auto;
  max-width: 1170px;
  font-family: SF Pro Display;

  .statistics-block {
    border-radius: 13px;
    background: #F1F2F6;
    padding: 23px 32px;
    width: 270px;
    align-items: center;

    .statistic-count {
      font-size: 24px;
      font-weight: 800;
      line-height: 28.64px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #171719;
    }

    .statistic-label {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.09px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #6B7688;
    }

    .statistic-icon {
      font-size: 33px;
      height: 40px;
      color: #6B7688;
    }
  }

  .graphics-section {
    margin-top: 32px;

    .linear-graphic {
      padding: 24px;
      border: 1px solid #D0D9E5;
      border-radius: 13px;
      width: 100%;
      margin-bottom: 32px;
      height: 430px;
      background-image: url("/public/images/graphics/linear.svg");
      background-repeat: no-repeat;
      background-position: -1px 140px;

      .graphic-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 23.87px;
        letter-spacing: 0.015em;
        text-align: left;
        color: #6B7688;
        margin-bottom: 11px;
      }

      .graphic-value {
        font-size: 32px;
        font-weight: 800;
        line-height: 38.19px;
        letter-spacing: 0.015em;
        text-align: left;
        color: #171719;
      }

      .graphic-period {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 66px;
        height: 40px;
        padding: 10.5px 0;
        border-radius: 13px;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
        letter-spacing: 0.015em;
        text-align: center;
        background: #F1F2F6;
        color: #6B7688;
        transition: all .3s;
        cursor: pointer;


        &.selected {
          background: #257CFF;
          color: white;
          font-weight: 600;
        }
      }
    }

    .graphic-grade {
      bottom: 32px;
      width: calc(1170px - 24px);
      margin-left: -8px;
      padding-right: 8px;

      &__value {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.32px;
        color: #454459;
        opacity: .5;
      }

      .graphic-month {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.32px;
        text-align: center;
        opacity: .5;
        color: #454459;
        border-radius: 20px;
        padding: 8px 0;
        width: 52px;
        transition: all .4s;
        cursor: pointer;


        &.selected {
          background: #257CFF;
          box-shadow: 0px 5px 25px 0px #0000001A;
          color: white;
          font-weight: 600;
          opacity: 1;
        }
      }
    }

    .circle-graphic {
      padding: 24px;
      border: 1px solid #D0D9E5;
      border-radius: 13px;
      width: 570px;
      height: 357px;
      background-image: url("/public/images/graphics/circle.png");
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: 100px 40px;
    }

    .map-location {
      padding: 24px;
      border: 1px solid #D0D9E5;
      border-radius: 13px;
      width: 570px;
      height: 357px;
      background-image: url("/public/images/graphics/map.png");
      background-size: 455px 261px;
      background-repeat: no-repeat;
      background-position: 115px 70px;
    }

    .graphic-name {
      font-size: 20px;
      font-weight: 600;
      line-height: 23.87px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #171719;
    }

    .country-item {
      gap: 8%;
      max-width: 140px;

      .country-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
        letter-spacing: 0.015em;
        color: #171719;
        margin-bottom: 12px;
      }

      .country-count {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
        letter-spacing: 0.015em;
        color: #6B7688;
        margin-bottom: 12px;
      }
    }

    .scale {
      width: 120px;
      height: 6px;
      border-radius: 13px;
      background: #EEF5FF;
      margin-bottom: 16px;

      &__value {
        height: 6px;
        border-radius: 13px;
        background: #257CFF;
      }
    }

  }

  .portfolio-list {
    margin-top: 32px;

    &__grid {
      .currency-block {
        padding: 16px;
        background: #F1F2F6;
        border-radius: 13px;
        width: 370px;

        .currency-img {
          width: 52px;
          height: 52px;
          margin: 10px;
          object-fit: cover;
        }

        .currency-name {
          font-size: 20px;
          font-weight: 800;
          line-height: 23.87px;
          letter-spacing: 0.015em;
          text-align: left;
          color: #171719;
        }

        .currency-value {
          font-size: 20px;
          font-weight: 500;
          line-height: 23.87px;
          letter-spacing: 0.015em;
          text-align: right;
          color: #171719;
        }

        .currency-total-value {
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.09px;
          letter-spacing: 0.015em;
          color: #6B7688;
        }
      }

      .properties-section {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 27px;
        grid-row-gap: 27px;
      }
    }

    &__list {
      margin-top: 32px;
    }
  }

  .currency-changes {
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: -0.005em;
    text-align: right;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 8px;

    &.up {
      color: #81C57C;
    }

    &.down {
      color: #F42929;
    }
  }
}