.portfolio {
  padding-bottom: 56px;
  margin: 40px auto 0 auto;
  max-width: 1170px;
  font-family: SF Pro Display, sans-serif;

  .statistics-block {
    border-radius: 13px;
    background: #F1F2F6;
    padding: 23px 32px;
    width: 270px;
    align-items: center;

    .statistic-count {
      font-size: 24px;
      font-weight: 800;
      line-height: 28.64px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #171719;
    }

    .statistic-label {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.09px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #6B7688;
    }

    .statistic-icon {
      font-size: 33px;
      height: 40px;
      color: #6B7688;
    }
  }

  .graphics-section {
    margin-top: 32px;

    .circle-graphic {
      padding: 24px;
      border: 1px solid #D0D9E5;
      border-radius: 13px;
      width: 570px;
      max-height: 357px;

      &__image {
        margin: auto;
        max-width: 337px;
        height: 100%;
        display: flex;
        align-items: center;

        img {
          width: 100%;
        }
      }
    }

    .map-location {
      padding: 24px;
      border: 1px solid #D0D9E5;
      border-radius: 13px;
      width: 570px;
      max-height: 357px;
      overflow-x: auto;
      overflow-y: hidden;

      &__info {
        display: flex;

        .statistics {
          flex: 0 0 140px;
        }
      }

      &__image {
        margin: auto;
        max-width: 355px;
        height: 100%;
        display: flex;
        align-items: center;
        scale: 1.2;

        img {
          max-width: 355px;
        }
      }

    }

    .graphic-name {
      font-size: 20px;
      font-weight: 600;
      line-height: 23.87px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #171719;
    }

    .country-item {
      gap: 8%;
      max-width: 140px;

      .country-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
        letter-spacing: 0.015em;
        color: #171719;
        margin-bottom: 12px;
      }

      .country-count {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
        letter-spacing: 0.015em;
        color: #6B7688;
        margin-bottom: 12px;
      }
    }

    .scale {
      width: 120px;
      height: 6px;
      border-radius: 13px;
      background: #EEF5FF;
      margin-bottom: 16px;

      &__value {
        height: 6px;
        border-radius: 13px;
        background: #257CFF;
      }
    }

  }

  .portfolio-list {
    margin-top: 32px;

    &__grid {
      margin-top: 32px;

      .currency-block {
        padding: 16px;
        background: #F1F2F6;
        border-radius: 13px;
        width: 370px;

        .currency-img {
          width: 52px;
          height: 52px;
          margin: 10px;
          object-fit: cover;
        }

        .currency-name {
          font-size: 20px;
          font-weight: 800;
          line-height: 23.87px;
          letter-spacing: 0.015em;
          text-align: left;
          color: #171719;
        }

        .currency-value {
          font-size: 20px;
          font-weight: 500;
          line-height: 23.87px;
          letter-spacing: 0.015em;
          text-align: right;
          color: #171719;
        }

        .currency-total-value {
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.09px;
          letter-spacing: 0.015em;
          color: #6B7688;
        }
      }

      .properties-section {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 27px;
        grid-row-gap: 27px;
      }
    }

    &__list {
      margin-top: 32px;
    }
  }
}

.currency-changes {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.005em;
  text-align: right;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 8px;

  &.up {
    color: #81C57C;
  }

  &.down {
    color: #F42929;
  }
}

@media screen and (max-width: 1170px) {

  .portfolio {
    padding: 0 30px 45px;

    .portfolio-graphic {
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 24px;
      border: 1px solid #D0D9E5;
      border-radius: 13px;

      .linear-graphic {
        width: 1170px;
        margin-bottom: 0px;
      }
    }

    .portfolio-list__list {
      overflow-x: scroll;
      margin-top: 0;

      .default-table {
        margin-top: 8px;
        width: 1170px !important;
      }
    }

    .properties-section {
      grid-template-columns: repeat(2, 1fr) !important;

      .property-item {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 30px 45px;

    .other-graphics {
      flex-direction: column;
      gap: 20px;

      .circle-graphic, .map-location {
        width: unset;
      }
    }

    .portfolio-statistics {
      &-section {
        flex-direction: column;
        gap: 20px !important;

        .statistics-block {
          width: 100%;
          padding: 18px 28px;

          .statistic-count {
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
          }

          .statistic-icon {
            font-size: 28px;
            height: 35px;
          }
        }
      }
    }

    .portfolio-list {
      &__grid {
        .currency-blocks {
          flex-direction: column;
          gap: 20px !important;
          padding: 0;

          .currency-block {
            width: unset;
            padding: 10px 16px;

            .currency-name, .currency-value {
              font-size: 17px;
              line-height: 17px;
            }

            .currency-img {
              width: 45px;
              height: 45px;
            }

            .currency-total-value, .currency-changes {
              font-size: 15px;
            }
          }
        }
      }

      &__list {
        overflow-x: scroll;

        .default-table {
          width: 1170px !important;

          .claim-btn {
            padding: 8px !important;
          }

          .table-property-img {
            width: 42px !important;
            height: 42px !important;
          }

          .table-data, .table-text {
            font-size: 15px !important;

            &.bold {
              font-size: 16px;
            }
          }

          .property-row {

            height: 65px !important;
          }

          td {
            padding: 10px 14px;
          }

          td:first-child {
            position: sticky;
            left: 0;
            background: linear-gradient(90deg, rgba(241,242,246,1) 70%, rgba(255,255,255,0) 91%);
          }

          th {
            padding: 14px 10px;
          }
        }
      }
    }

    .toggler-component {
      padding: 0 30px;

      .property-view-toggler {
        gap: 5px;
        max-width: 370px;
        width: unset;

        .toggler-btn {
          padding: 9.5px 6px;
        }
      }
    }

    .properties-section {
      grid-template-columns: 1fr !important;
      padding: 0;

      .property-item {
        width: 100%;

        .info-section {
          padding: 16px 20px;
        }

        .total-price {
          margin-bottom: 0;

          &__label {
            font-size: 16px;
          }

          &__value {
            font-size: 20px;
          }
        }

        .other-price {
          &__label {
            font-size: 14px;
          }

          &__value {
            font-size: 14px;
          }
        }

        .view-property-btn {
          padding: 8px;
        }
      }
    }
  }
}