.profile {
  padding: 0 135px 56px 135px;
  font-family: SF Pro Display;

  .profile-image-section {
    width: 104px;
    height: 104px;
    margin: 0 auto;

    .profile-img {
      width: 100px;
      height: 100px;
      border-radius: 52px;
      border: 4px solid #FFFFFF;
    }

    .camera-icon {
      padding: 3px;
      width: 30px;
      height: 30px;
      font-size: 20px;
      background-color: white;
      right: 4px;
      top: 73px;
      color: #257CFF;
      border-radius: 52px;
    }
  }

  .profile-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.64px;
    text-align: center;
    color: #17171A;
    letter-spacing: 0.7px;
    margin-top: 16px;
  }

  .profile-sidebar {
    width: 370px;
    border-radius: 18px;
    background: #F1F2F6;
    padding: 24px;
    flex: 0 0 370px;
    height: fit-content;

    .sidebar-option {
      border-radius: 13px;
      padding: 17px 18.5px;
      border: none;
      text-decoration: none;
      background-color: transparent;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.09px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #6B7688;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .option-name {
        display: flex;
        align-items: center;
        gap: 8px;

        i {
          font-size: 22px;
          height: 22px;
        }

        .logout-icon {
          transform: scale(-1, 1)
        }
      }

      .arrow-icon {
        height: 16px;
      }

      &.router-link-exact-active {
        background: #FFFFFF;
        color: #257CFF;
        font-weight: 700;
      }
    }

  }

  .profile-page {

    .main-info-section {
      margin-bottom: 32px;
    }

    .profile-name-info {
      gap: 30px;
    }

    &__section {
      border-radius: 18px;
      background: #F1F2F6;
      padding: 24px;

      .section-label {
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
        letter-spacing: 0.015em;
        text-align: left;
        color: #6B7688;
        margin-bottom: 11px;

        &.active {
          font-weight: 600;
          color: #171719;
        }
      }

      .section-field {
        border-radius: 15px;
        background-color: white;
        padding: 17.5px 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
        letter-spacing: 0.015em;
        color: #171719;
        border: none;

        &.disabled {
          color: #9BA6B7;
        }
      }

      .registered-wallet {
        background: #FFFFFF;
        border-radius: 18px;
        padding: 16px;
      }

      .wallet-value {
        border-radius: 15px;
        background: #FFFFFF;
        color: #257CFF;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.015em;
        text-align: left;
        padding: 19px 60px 19px 24px;

        &.highlight-area {
          background: #EEF5FF;
        }
      }

      .copy-value-icon {
        font-size: 20px;
        color: #6B7688;
        right: 24px;
        top: 20px;
        cursor: pointer;

        &.highlight-area {
          color: #257CFF;
          right: 42px;
          top: 36px;
        }
      }

      .section-add-btn {
        width: 160px;
        padding: 16px;
        border-radius: 15px;
        background: #257CFF;
        color: white;
        border: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.09px;
        letter-spacing: 0.04em;
      }

      .change-btn {
        width: 160px;
        background: #257CFF;
        color: white;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.09px;
        letter-spacing: 0.04em;
        border: none;
        border-radius: 10px;
        padding: 10.5px 0;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
      line-height: 23.87px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #17171A;
      margin-bottom: 19px;
    }

    &__info-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #6B7688;
    }

    .resident-question {
      margin-top: 32px;
      background: #F1F2F6;
      border-radius: 18px;
      padding: 8px 8px 8px 24px;

      &__button {
        width: 96px;
        padding: 13.5px 0;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.8px;
        letter-spacing: 0.015em;
        text-align: center;
        border: none;
        background: #FFFFFF;
        color: #6B7688;

        &.active {
          background: #257CFF;
          color: white;
        }
      }
    }

    .redirect-info {
      font-family: SF Pro Display;
      font-size: 14px;
      font-weight: 600;
      line-height: 18.2px;
      letter-spacing: 0.015em;
      text-align: left;
      color: #171719;

      &-link {
        color: #257CFF;
        text-decoration: underline;
      }
    }

    .claim-section {
      margin-top: 56px;

      &__title {
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
        letter-spacing: 0.015em;
        text-align: left;
        color: #6B7688;
      }

      &__currency {
        font-size: 24px;
        font-weight: 800;
        line-height: 31.2px;
        letter-spacing: 0.015em;
        color: #171719;
        display: flex;
        align-items: center;
        gap: 8px;

        &_span {
          font-size: 16px;
          font-weight: 400;
          line-height: 20.8px;
          letter-spacing: 0.015em;
          text-align: left;
          color: #6B7688;
        }
      }

      &__info {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        letter-spacing: 0.015em;
        color: #171719;
      }

      .section-add-btn {
        font-size: 20px;
        font-weight: 700;
        line-height: 23.87px;
        letter-spacing: 0.015em;
      }

      &__table {
        margin-top: 19px;
        table-layout: fixed;

        .separator {
          height: 8px;

          &.header {
            height: 16px;
          }
        }

        .table-columns {
          background: #FFFFFF;

          th {
            padding: 19.5px 24px;
            font-size: 14px;
            font-weight: 500;
            line-height: 16.71px;
            letter-spacing: 0.015em;
            color: #6B7688;

            &:first-child {
              border-top-left-radius: 13px;
              border-bottom-left-radius: 13px;
            }

            &:last-child {
              border-top-right-radius: 13px;
              border-bottom-right-radius: 13px;
            }
          }
        }

        .table-row {
          background: #FFFFFF;

          td {
            padding: 20px 24px;

            .claim-btn {
              border-radius: 15px;
              background: #257CFF;
              padding: 11.5px 0;
              color: #FFFFFF;
              font-size: 14px;
              font-weight: 700;
              line-height: 16.71px;
              letter-spacing: 0.015em;
              width: 105px;
              border: none;

              &.locked {
                background: #6B7688;
              }
            }

            .table-property-img {
              width: 40px;
              height: 40px;
              border-radius: 28px;
              margin-right: 8px;
            }

            .locked-hint {
              padding: 16px;
              left: -412px;
              top: -75px;
              box-shadow: 0px 7px 8px -4px #00000014;
              width: 421px;
              border-radius: 13px;
              border: 1px solid #F1F2F6;
              background: white;
              font-size: 16px;
              font-weight: 500;
              line-height: 20.8px;
              letter-spacing: 0.015em;
              color: #171719;
            }

            .hint-icon {
              left: -23px;
              top: 8.5px;
              font-size: 20px;

              &.open {
                color: #6B7688;
              }

              &.opened {
                color: #257CFF;
              }
            }

            &:first-child {
              border-top-left-radius: 13px;
              border-bottom-left-radius: 13px;
            }

            &:last-child {
              border-top-right-radius: 13px;
              border-bottom-right-radius: 13px;
            }
          }

          .table-text {
            font-size: 16px;
            font-weight: 600;
            line-height: 19.09px;
            letter-spacing: 0.015em;
            text-align: left;
            color: #171719;

            &.bold {
              font-weight: 700;
            }
          }

          .table-subtext {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.71px;
            letter-spacing: 0.015em;
            color: #435167;
          }
        }
      }
    }

    .delimiter {
      top: 253px;
      left: 0;
      z-index: 999;
      border-top: 1px solid #D7DEE9;
      opacity: 1;
    }
  }
}